*{
    margin: 0;
    padding: 0;
}
body {
    background: url(/img/fondo1.png) no-repeat;
    background-size:100vw 100vh;
    overflow: hidden;


    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.contenedor {
    height: 87vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor h1 {
    position: relative;
    bottom: 200px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 10em;
    text-transform: uppercase;
    width: 100vw;
    padding: 20px;
  }

.contenedor img {
    position: absolute; 
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.contenedor img:hover {
    opacity: 0.6;
}

.contenedor a {
    display: inline-block;
    text-decoration: none;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 3em;
}



#carretera {
    display: flex;
    align-items: flex-start;
    height: 9vh;
    flex-direction: row;
    width: 100vw;
}
#coche{
    /* margin-left: 1vw; */
    align-self: flex-end;
    margin-right: 1px;
    margin-bottom: 0;
    order: 3;
    transform: scaleX(1);

}
#autobus{ 
    height:fit-content;
    margin-left: 20vw;
    order: 2;
    display: none;
    transform: scaleX(-1);
    
    
}
#cocheVuelta{
    margin-right: 10vw;
}


/* Responsive */

@media (max-width: 1024px) {
    .contenedor h1  {
        font-size: 5.5em;
}
    body {
        background: url(/img/fondo1MediaPantalla.png) no-repeat;
        background-size: cover;
    }

.contenedor img { 
    width: 8em;
}
.contenedor a { 
    font-size: 1.5em;
}
}


@media (max-width: 768px) {
    body {
        background:url(/img/fondo1PantallaPequeña.png);
        background-size: cover;
    }
    .contenedor h1  {
        font-size: 4em;
    }
    .contenedor img {
        top: 50%; 
        left: 50%;
        z-index: -1;
        width: 8em;
    }
    
    .contenedor a {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .contenedor h1  {
        font-size: 3.5em;
        
}
}