 * {
    margin: 0;
    padding: 0;
 }
h1{
    color: white;
    font-size: 10e;
    margin: 20px 0;
    font-family: 'Press Start 2P', cursive; /* Aplica la fuente aquí */;
}
/* 
body::before {
    content: "";
    background: url('../img/fondoSeleccion.png') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 1.0;
} */

body {
    background: url(/Buscaminas/img/fondoSeleccion.png )no-repeat;
    overflow: hidden;
}